<template>
  <v-dialog v-model="insertDialog" max-width="500">
    <v-card title="Ajouter le vocabulaire">
      <v-card-text>
        <v-textarea v-model="rawVocabulary" :rows="10"></v-textarea>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          text="Annuler"
          @click="insertDialog = false"
        ></v-btn>
        <v-btn
          text="Charger"
          color="primary"
          @click="loadRawVocabulary"
        ></v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-dialog v-model="detailDialog" max-width="500">
    <v-card :title="'Mots connus pour ' + selectedHanzi">
      <v-card-text>
        <v-list lines="one">
          <v-list-item
            v-for="(word, index) in selectedHanziWords"
            :key="index"
            :title="word"
          ></v-list-item>
        </v-list>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          text="Fermer"
          @click="detailDialog = false"
        ></v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-dialog v-model="randomDialog" max-width="320">
    <v-card title="Devine le caractère">
      <v-card-text>
        <p class="random-hanzi">{{ randomHanzi }}</p>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          text="Suivant"
          @click="pickRandomHanzi"
        ></v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  
  <v-app v-if="hasHanzi">
    <v-app-bar>
      <v-app-bar-title>
        <div class="summary">
          <pre>{{ hanziList.length }}</pre> caractères uniques sur <pre>{{ wordCount }}</pre> mots
        </div>
      </v-app-bar-title>

      <v-tooltip text="Caractère aléatoire" location="bottom">
        <template v-slot:activator="{ props }">
          <v-btn @click="showRandomHanzi()" v-bind="props" icon="mdi-dice-multiple-outline"></v-btn>
        </template>
      </v-tooltip>

      <v-tooltip text="Charger une liste" location="bottom">
        <template v-slot:activator="{ props }">
          <v-btn @click="insertDialog = true" icon="mdi-upload-box-outline" variant="text" v-bind="props"></v-btn>
        </template>
      </v-tooltip>
    </v-app-bar>

    <v-main class="content pa-4">
      <div class="list-hanzi">
        <ul>
          <li
            v-for="hanzi of hanziList"
            :key="hanzi"
            :cols="1"
            @click="showDetails(hanzi)"
          >
            {{ hanzi }}
          </li>
        </ul>
      </div>
    </v-main>
  </v-app>

  <v-app v-else>
    <v-main>
      <v-container fluid>
        <v-row>
          <v-col class="mt-5" align="center">
            <v-btn @click="insertDialog = true" variant="text">
              <v-icon :size="30" icon="mdi-upload-box-outline" class="mr-2"></v-icon>
              Charger le vocabulaire
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'

interface HanziEntries {
  [word: string]: string[];
}

const insertDialog = ref(false)
const randomDialog = ref(false)
const detailDialog = ref(false)
const selectedHanzi = ref<string | undefined>()

const rawVocabulary = ref('')
const randomHanzi = ref('')

const wordCount = ref(0)
const hanziEntries = ref<HanziEntries>({})

const hanziList = computed(() => Object.keys(hanziEntries.value).sort((a, b) => hanziEntries.value[a].length > hanziEntries.value[b].length ? -1 : 1))
const hasHanzi = computed(() => hanziList.value.length > 0)
const resetInput = () => rawVocabulary.value = ''

const selectedHanziWords = computed(() => selectedHanzi.value && hanziEntries.value[selectedHanzi.value])

const pickRandomHanzi = () => {
  const list = hanziList.value;
  randomHanzi.value = list[Math.floor(Math.random() * list.length)];
}

const showDetails = (hanzi: string) => {
  selectedHanzi.value = hanzi;
  detailDialog.value = true
}

const showRandomHanzi = () => {
  randomDialog.value = true;
  pickRandomHanzi()
}

const loadRawVocabulary = () => {
  const lines = rawVocabulary.value.split("\n");
  const characterMapping: HanziEntries = {};
  let words = 0;

  const addCharacterAndWord = (character: string, word: string) => {
    const entry = characterMapping[character];
    if (entry) {
      entry.push(word)
      return
    }

    characterMapping[character] = [word]
  }

  for (const line of lines) {
    const trimmedLine = line.trim()
    if (trimmedLine.length > 0) {
      const characters = line.split("");
      for (const character of characters) {
        if (character.match(/[\u3400-\u9FBF]/)) {
          addCharacterAndWord(character, trimmedLine)
        }
      }
      words++;
    }
  }

  wordCount.value = words;
  hanziEntries.value = characterMapping;
  insertDialog.value = false;
  resetInput();
}
</script>

<style scoped>
@font-face {
    font-family: chineseFont;
    src: url('/font.ttf');
}

div.list-hanzi {
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 75px;
}

.summary {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.summary pre {
  margin: 0 5px;
  padding: 4px 8px;
  border-radius: 5px;
  background: rgb(227, 227, 227);
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-content: center;
  grid-gap: 5px;
  list-style-type: none;
  width: 100%;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-family: chineseFont;
  font-size: 35px;
  color: #363636;
  border: 1px solid rgb(208, 208, 208);
  transition: all .2s linear 0s;
}

li:hover {
  cursor: pointer;
  color: #000;
}

li:active {
  background-color: rgb(208, 208, 208);
}

.random-hanzi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  font-family: chineseFont;
  font-size: 140px;
  margin: auto;
  border: 1px solid rgb(208, 208, 208);
}
</style>
